<a href="https://colab.research.google.com/github/KIISIISHERE/Sets-and-Array/blob/main/Sets_and_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a set with integer elements
integer_set = {1, 2, 3, 4, 5}
print("Set with integer elements:", integer_set)
# 2. Create a set with mixed data type elements
mixed_set = {1, "hello", 3.14, True}
print("Set with mixed data types:", mixed_set)
# 3. Create another set with elements - 1, 2, 3, 4, 3, 2
# Duplicate elements are removed automatically in sets
duplicate_set = {1, 2, 3, 4, 3, 2}
print("Set with duplicate elements removed:", duplicate_set)
# 4. Create a set from a list with elements - [1, 2, 3, 2]
list_to_set = set([1, 2, 3, 2])
print("Set created from list:", list_to_set)
# 5. Print the set after removing the first element from this set - [0, 1, 3, 4, 5]
# Note: Sets are unordered, so we need to convert to list to remove "first" element
original_list = [0, 1, 3, 4, 5]
temp_set = set(original_list)
temp_list = list(temp_set)
temp_list.pop(0) # remove the first element
new_set = set(temp_list)
print("Set after removing the first element:", new_set)

Set with integer elements: {1, 2, 3, 4, 5}
Set with mixed data types: {1, 3.14, 'hello'}
Set with duplicate elements removed: {1, 2, 3, 4}
Set created from list: {1, 2, 3}
Set after removing the first element: {1, 3, 4, 5}

In [2]:
# Define the sets
set1 = {"green", "blue"}
set2 = {"blue", "yellow"}
# Find the Intersection
intersection_set = set1.intersection(set2)
# Print the result
print("value found in both set1 and set2:", intersection_set)

value found in both set1 and set2: {'blue'}

In [4]:
arr = list(map(int, input("Enter numbers seperated by space ").split()))
count_3 = arr.count(3)
reversed_arr = arr[::-1]
print("Occurences of 3:", count_3)
print("Reversed array:", reversed_arr)

Enter numbers seperated by space 2 1 3 4
Occurences of 3: 1
Reversed array: [4, 3, 1, 2]